<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Colorization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Protest+Strike&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h1>UPLOAD A B/W IMAGE TO COLORIZE</h1>
        <form action="/" method="post" enctype="multipart/form-data" class="upload-form">
            <input type="file" name="file" accept="image/*" id="file" class="file-input">
            <label for="file" class="file-input-label">Choose File</label>
            <span id="file-name" class="file-name">No file chosen</span>
            <button type="submit" class="upload-button">Colorize Image</button>
        </form>
    </div>
    <script>
        document.getElementById('file').addEventListener('change', function() {
            var fileName = this.files[0].name;
            document.getElementById('file-name').textContent = fileName;
        });
    </script>
</body>
</html>




